In [24]:
import pandas as pd
import requests
import re
from bs4 import BeautifulSoup
from tqdm import tqdm
import pandas_profiling

# Data Collection: Scraping from Baseball Reference (BR)
Baseball Reference is the only resource I found with historical data for the KBO preceding 2014. For thoroughness, I pulled all of the available data. There are two steps to the scraping because indivdual player season-to-season performance data is nested away on different individual pages of the website.

In [7]:
# scraping BR's KBO encyclopedia page for individual team/season page IDs
url = "https://www.baseball-reference.com/register/league.cgi?code=KBO&class=Fgn"
r = requests.get(url)
html_doc = r.text
regex = "\/register\/team\.cgi\?id=\w{8}"
matches = re.findall(regex, html_doc)
team_season_ids = [match[-8:] for match in matches]

In [21]:
#scraping each team/season page ID's table, and concatenating into one DataFrame
df = pd.DataFrame()
base_url = "https://www.baseball-reference.com/register/team.cgi?id="
with tqdm(total=len(team_season_ids)) as pbar:    
    for id in team_season_ids:
        team_season_url = base_url + id
        html_doc = requests.get(team_season_url).text
        df_new = pd.DataFrame(pd.read_html(html_doc)[0])
        df_new['Team'] = str(BeautifulSoup(html_doc).title.string.split()[1]) + " " + str(BeautifulSoup(html_doc).title.string.split()[2])
        df_new['Season'] = BeautifulSoup(html_doc).title.string.split()[0]
        df = pd.concat([df, df_new], ignore_index=True)
        pbar.update(1)

100%|████████████████████████████████████████████████████████████████████████████████| 313/313 [04:20<00:00,  1.20it/s]

In [23]:
df.to_csv('KBO Projections Raw Data')

In [22]:
print(df.shape)
print(df.head())
print(df.tail())
print(df.describe())
print(df.info())
print(df.dtypes)

(8383, 29)
    Rk                    Name Age   G   PA   AB   R   H  2B  3B  ...    OPS  \
0  1.0            Gweon Su An?  27  24   16   15   4   3   0   0  ...  0.450
1  2.0           Ju-hwan Choi*  32  29  114  103  14  27   7   0  ...  0.821
2  3.0           Sang-ho Chung  37  16   34   32   0   6   3   0  ...  0.463
3  4.0          Soo-bin Chung*  29  28  110  100  16  27   4   1  ...  0.648
4  5.0  Jose Miguel Fernandez*  32  30  139  124  24  51   9   0  ...  1.058

   TB  GDP  HBP  SH  SF  IBB  Notes          Team  Season
0   3    1    0   0   0  0.0    NaN  Doosan Bears    2020
1  52    3    2   0   2  1.0    NaN  Doosan Bears    2020
2   9    2    0   1   1  0.0    NaN  Doosan Bears    2020
3  33    1    0   3   0  0.0    NaN  Doosan Bears    2020
4  75    5    1   0   3  0.0    NaN  Doosan Bears    2020

[5 rows x 29 columns]
        Rk             Name   Age   G    PA    AB    R    H   2B  3B  ...  \
8378  15.0  Jeong-hwan Seo?    26  50   135   124   14   25    1   1  ...
8379  16.0    Sang-dae Son?    27  12    22    19    1    4    0   0  ...
8380  17.0   Sang-deuk Son?    26  53   155   143   21   34    3   2  ...
8381  18.0     Jin-ho Song?    24  41    82    80   11   11    2   0  ...
8382   NaN       18 Players  25.7  80  3040  2649  425  705  126  18  ...

        OPS    TB  GDP  HBP  SH  SF  IBB  Notes           Team  Season
8378  0.511    34    1    1   4   1  NaN    NaN  Samsung Lions    1982
8379  0.496     4    0    1   1   0  NaN    NaN  Samsung Lions    1982
8380  0.605    47    1    1   3   1  NaN    NaN  Samsung Lions    1982
8381  0.359    16    0    0   0   0  NaN    NaN  Samsung Lions    1982
8382  0.739  1038   50   30  36  18  NaN    NaN  Samsung Lions    1982

[5 rows x 29 columns]
                Rk            G           PA           AB            R  \
count  8070.000000  8383.000000  8383.000000  8383.000000  8383.000000
mean     13.688476    62.785160   353.216271   308.335441    42.617559
std       7.929958    44.432515   900.273720   785.672285   111.209712
min       1.000000     1.000000     0.000000     0.000000     0.000000
25%       7.000000    20.000000    24.000000    21.000000     2.000000
50%      13.000000    60.000000   126.000000   111.000000    13.000000
75%      20.000000   104.000000   355.000000   309.000000    39.000000
max      36.000000   144.000000  5870.000000  5176.000000   944.000000

                 H           2B           3B           HR          RBI  ...  \
count  8383.000000  8383.000000  8383.000000  8383.000000  8383.000000  ...
mean     82.407969    14.227365     1.550280     7.646427    39.964452  ...
std     211.962029    37.014927     4.393773    21.578924   104.940427  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       4.000000     0.000000     0.000000     0.000000     1.000000  ...
50%      26.000000     4.000000     0.000000     1.000000    11.000000  ...
75%      81.000000    14.000000     1.000000     6.000000    36.000000  ...
max    1601.000000   304.000000    62.000000   234.000000   898.000000  ...

               OBP          SLG          OPS           TB          GDP  \
count  8354.000000  8338.000000  8338.000000  8383.000000  8383.000000
mean      0.289278     0.316812     0.604962   122.675176     6.969462
std       0.126852     0.177199     0.287620   318.041448    18.119780
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.250000     0.238250     0.498000     5.000000     0.000000
50%       0.315000     0.333000     0.651000    37.000000     2.000000
75%       0.355000     0.412000     0.764000   117.000000     6.000000
max       1.000000     4.000000     5.000000  2518.000000   146.000000

               HBP           SH           SF          IBB  Notes
count  8383.000000  8383.000000  8383.000000  4708.000000    0.0
mean      4.731719     5.535131     2.662651     1.247664    NaN
std      12.842509    15.195856     7.154564     3.742828    NaN
min       0.000000     0.000000     0.000000     0.000000    NaN
25%       0.000000     0.000000     0.000000     0.000000    NaN
50%       1.000000     1.000000     1.000000     0.000000    NaN
75%       4.000000     5.000000     2.000000     1.000000    NaN
max     130.000000   153.000000    83.000000    39.000000    NaN

[8 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8383 entries, 0 to 8382
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      8070 non-null   float64
 1   Name    8383 non-null   object
 2   Age     8383 non-null   object
 3   G       8383 non-null   int64
 4   PA      8383 non-null   int64
 5   AB      8383 non-null   int64
 6   R       8383 non-null   int64
 7   H       8383 non-null   int64
 8   2B      8383 non-null   int64
 9   3B      8383 non-null   int64
 10  HR      8383 non-null   int64
 11  RBI     8383 non-null   int64
 12  SB      4708 non-null   float64
 13  CS      4708 non-null   float64
 14  BB      8383 non-null   int64
 15  SO      8383 non-null   int64
 16  BA      8338 non-null   float64
 17  OBP     8354 non-null   float64
 18  SLG     8338 non-null   float64
 19  OPS     8338 non-null   float64
 20  TB      8383 non-null   int64
 21  GDP     8383 non-null   int64
 22  HBP     8383 non-null   int64
 23  SH      8383 non-null   int64
 24  SF      8383 non-null   int64
 25  IBB     4708 non-null   float64
 26  Notes   0 non-null      float64
 27  Team    8383 non-null   object
 28  Season  8383 non-null   object
dtypes: float64(9), int64(16), object(4)
memory usage: 1.9+ MB
None
Rk        float64
Name       object
Age        object
G           int64
PA          int64
AB          int64
R           int64
H           int64
2B          int64
3B          int64
HR          int64
RBI         int64
SB        float64
CS        float64
BB          int64
SO          int64
BA        float64
OBP       float64
SLG       float64
OPS       float64
TB          int64
GDP         int64
HBP         int64
SH          int64
SF          int64
IBB       float64
Notes     float64
Team       object
Season     object
dtype: object

In [ ]:
report = df.profile_report(sort='None', html={'style':{'full_width': True}}, progress_bar=False)
report

In [ ]:
# list of obvious problems/first blush solutions
'''
some rows are the team total rows -> search and delete row entries that str.contain("players")
Rk col is useless->delete
Notes col is useless -> delete
Extract batting stance from Name column
Columns could be reordered
Null entries in CS, SB because base-stealing data wasn't recorded--
Null entries in IBB because international balls data wasn't recorded--
Age data type should be int, not object
SB, CS dtype should be int
'''